@charset "UTF-8";

@import url("//fonts.googleapis.com/css?family=Lato:400,700");
// @import url("//fonts.googleapis.com/earlyaccess/notosansjp.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.6;
}
body {
  font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.wrap {
  margin: 0 10px;
}

.container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.questionText {
  max-width: 600px;
  margin: 20px auto;
  font-size: 20px;
  font-weight: bold;
}
.answerList {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  li {
    display: inline-block;
    width: 40%;
    margin: 10px;
    background: #dff;
    text-align: center;
    &.textL {
      text-align: left;
    }
    a {
      display: block;
      // width: 290px;
      // height: 90px;
      padding: 20px;
      border-radius: 4px;
      background: #7FBA00;
      font-weight: bold;
      color: #fff;
      text-decoration: none;
      vertical-align: middle;
    }
  }
}

.answerTile {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  .answerSub {
    font-size: 14px;
  }
  .recoGenre {
    font-size: 26px;
    color: #f75d09;
  }
}
.reco {
  .recoTitle {
    font-size: 18px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.page-enter-active {
  animation-name: fadeIn;
  animation-duration: .3s;
}
.page-leave-active {
  animation-name: fadeOut;
  animation-duration: .3s;
}
